
@{
    ViewData["Title"] = "Cortometrajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="principalPeliculas">
     @*Esta aun no la pidio profe, nada mas copie el diseño, pero no me traje la información*@
        <div id="pelis">
            <h1>Animaciones de Cars</h1>
            <div>
                <a class="imgPelicula" @*href="/Cortometraje/TokioMate"*@>
                    <img src="/images/portadas/4_pc.jpg" alt="Tokio Mate">
                </a>
                <div class="nombrePelicula">
                    <p>Tokio Mate</p>
                </div>
            </div>
            <div>
                <a class="imgPelicula" @*href="/Cortometraje/AirMater"*@>
                    <img src="/images/portadas/5_pc.jpg" alt="Air Mater">
                </a>
                <div class="nombrePelicula">
                    <p>Air Mater</p>
                </div>
            </div> 
            </div>
    </div>

